.header-container {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
  align-items: center;
}
.logo {
  font-weight: bold;
  font-size: 1.5rem;
}
.header-container a {
  text-decoration: none;
  color: inherit;
}
.header-links {
  display: flex;
  gap: 20px;
}
